@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;

}

.tabs {
    clear: both;
    display: inline-block;
    width: 100%;
    position: 1;
}

input.tabType {
    position: absolute;
    left: -99999em;
    top: -99999em;
    opacity: 1;
    z-index: 1;
}

input.tabType+label {
    cursor: pointer;
    float: left;
    border: 1px solid rgb(201, 210, 224);
    background-color: lightgray;
    margin-right: -1px;
    padding: .5em 1em;
    position: relative;
}

[type=radio].tabType:checked+label {
    color: blue;
    background-color: #ffffff;
    border-bottom: 0px;
    z-index: -1;
}

input.tabType+label:hover {
    background-color: #eee;
}

.body {
    position: relative;
    top: 40px;
}

.circle-container {
    text-align: center;
}

.circle {
    /* display: inline-block; */
    display: table;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    margin: auto;
}

.blue {
    background-color: rgb(77, 151, 251);
}

.purple {
    background-color: rgb(153, 102, 250);
}

.pink {
    background-color: rgb(250, 99, 204);
}

.label {
    display: inline-block;
    line-height: 16px;
}

.codeSideBarIndividualDiv {
    display: inline-block;
    background: white;
}

.codeModeSelected {
    background-color: lightgrey;
}

.codeSideBarIndividualDiv{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}